
<article>
    <h2><a href="/pages/thread" class="threadLink"><%= post.title %></a></h2>
    <p>Posted by: <span><%= post.author %></span> | Date: <span>January 24, 2024</span></p>
    <p>Views: <span><%= post.viewsCount %></span> | Replies: <span>8885</span></p>
    <p>Likes: <span><%= post.likesCount %></span> | Dislikes: <span><%= post.dislikesCount %></span> </p>
    <p>Last response:</p>
</article>